#archivos generales
docker_postgres_windows.bat 
docker_postgres.sh 
package-lock.json 

#autenticacion
authentication/__pycache__/
authentication/migrations/
authentication/.gitignore

#datasets 
datasets/__pycache__/
datasets/migrations/
datasets/serializers/__pycache__/

#frontend   
frontend/node_modules/  
frontend/.gitignore 
frontend/package-lock.json
frontend/package.json
frontend/README.md

#proyects 
proyects/__pycache__/
proyects/migrations/
proyects/.gitignore

#src
src/__pycache__/

#yolov7
yolov7/__pycache__/
yolov7/data/
yolov7/figure
yolov7/inference
yolov7/paper
yolov7/utils
yolov7/README.md
