version: '3.8'

services:

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
     

  db:
    image: postgres
    environment:
      POSTGRES_DB: visionDocker
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432" 

  web:
    image: reyossrom/tfg:latest
    command: ./entrypoint.sh   
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - media_volume:/app/media

  celery:
    image: reyossrom/tfg:latest
    command: ./entrypoint_celery.sh
    environment:
    - DJANGO_SETTINGS_MODULE=src.settings
    - NVIDIA_VISIBLE_DEVICES=all
    depends_on:
      - web
      - redis
    volumes:
      - media_volume:/app/media
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]

volumes:
  postgres_data:
  media_volume: 
