

.custom-modal {
    width: 300px;
    height: 200px;
    margin: auto;
    margin-top: 100px;
    background-color: white; /* Set modal background color */
    border: 1px solid #ccc; /* Add border to the modal */
    padding: 20px; /* Add padding inside the modal */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add box shadow for a subtle effect */
  }
  
  .custom-modal h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .custom-modal p {
    margin-bottom: 15px;
  }
  
  .custom-modal button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .custom-modal button:last-child {
    margin-right: 0;
  }