.topnav {
    width: 200px;
    background-color:red;
    position: fixed;
    top: 0;
    left: 0;
    /* Remove 'bottom' property to stop extending to the bottom */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Remove 'padding-top' property to remove top padding */
    transition: width 0.3s ease-in-out;
}
.topitem {
    display: block; /* Change to block display */
    cursor: pointer;
    color: #666666;
    text-decoration: none;
    margin: 0;
    padding: 20px;
    transition: background-color 0.3s ease-in-out;
    width: 100%; /* Occupy full width of sidenav */
    box-sizing: border-box; /* Include padding in width calculation */
    
   
}
/* Style only for .sideitem with id=0 */
.topitem:nth-child(1) {
    border-bottom: 1px solid #666666;
  
 
}


.linkText {
    font-size: 15px;
    /* font-family: monospace; */
    font-family: 'Work Sans', sans-serif; 
    padding-left: 10px;
   
    
}

.linkTextClosed {
    composes: linkText;
    visibility: hidden;
}

.topitem:hover {
    /* --radius-size: 30px; */
    background-color: #D2D2D2;
    color: #121212;
    font-weight: bold; 
   
}
