
.topnav {
    background-color: #D2D2D2;
    color: white;
    padding: 10px 0;
    height:41px; 
  }
  
.navContainer {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  label {
    margin-right: 10px;
  }
  
  select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #D2D2D2;
    color: #333;
  }
  
  
  
  
  
  