.topNavContainer{
    background-color: #55505A;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the right */
    padding: 0 20px; /* Add padding to the top navigation */
    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); Add a box shadow for a subtle effect */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; 
    
}

.navElement:hover{
    font-weight: bold;
}
button{
    background-color: #55505A;
    color: #D89958; 
    border:none;
    
    font-family: Helvetica; 
    margin-right: 30px;
}
select{
    background-color: #D89958;
    /* color: #f7f2EB; */
   
    border: 1px solid #55505A;
    border-radius: 2px;
    margin-right: 30px;
}

#showLabels{
    color: #D89958; 
    margin-right: 30px;

}
#login{
    background-color: #55505A;
    color: #D89958; 
    border:none;
    
    font-family: Helvetica; 
    margin-right: 10px;
}