/* datasets.css */
.datasets-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .dataset-card {
    border: 1px solid #D2D2D2;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    height:300px; 
  }
  
  .dataset-image {
    max-width: 100%;
    max-height:50%;
    border-radius: 4px;
  }
  
  .dataset-info {
    margin-top: 10px;
    font-family: 'Work Sans', sans-serif; 
    color: #080808; 
  }
  
  .dataset-name {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif; 
    color: #080808; 
  }
  
  .dataset-description {
    font-size: 14px;
    font-family: 'Work Sans', sans-serif; 
    color: #080808; 
  }
  .page-container {
    display: flex;
  }
  
  .content-container {
    margin-left: 200px; /* Adjust this value to match the width of your navbar */
    flex-grow: 1; /* Allow the content to take up remaining space */
    padding: 20px; /* Add some padding to the content */
  }
  button{
    margin-top: 100px;
  }
  a:link, a:visited, a:active {
    text-decoration:none;
  }
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Set minimum column width to 150px */
    grid-gap: 40px; /* Adjust the gap between images */
  }
  
  .image-item {
    width: 100%; /* Ensure images take up 100% of the grid cell width */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Prevent images from exceeding their natural size */
    max-height: 200px; /* Limit the maximum height of images */
    object-fit: cover; /* Ensure images cover the container without stretching */
  }
  .pagination-controls {
    margin-right: 1000px; /* Adjust the value according to the desired spacing */
  }