.pageContainer {
    display: flex;

  }
  .contentContainer {
    margin-left: 200px; /* Adjust this value to match the width of your navbar */
    flex-grow: 1; /* Allow the content to take up remaining space */
    /* padding: 20px; Add some padding to the content */
    margin-top: 60px;
  }
.pageName{
    font-size:20px; 
    color:  #AF6058; 
    text-align: center;
   
}
.datasetContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .datasetCard {
    border: 1px solid #D89958; 
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
    width: 250px;
    display: flex;
    flex-direction:column;
    height:250px; 
    text-decoration: None;
   
  }
  .datasetCard:hover{
    border: 2px solid #D89958;
    border-radius: 4px;
  }
  
  .datasetImage {
    max-width: 100%;
    max-height:50%;
    border-radius: 4px;
  }
  
  .datasetInfo {
    margin-top: 10px;
    color: black;
    text-decoration: None;
  }
  
  .datasetName {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    
    text-decoration: None;
    color: #AF6058;
  }
  
  .datasetDescription {
    font-size: 14px;
    text-align:justify;
    text-decoration: None;
  }
  a:link, a:visited, a:active {
    text-decoration:none;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Fondo oscuro transparente */
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .expandedImage {
    max-width: calc(100vw - 40px); /* Ancho máximo de la imagen, con margen de 20px en cada lado */
    max-height: calc(100vh - 40px); /* Altura máxima de la imagen, con margen de 20px en la parte superior e inferior */
    margin: 20px; /* Margen para que la imagen no toque los bordes de la pantalla */
  }
  

/* Dataset details specific page*/
.datasetDetailsContainer p{
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color:#D89958; 
}
.imageGalery{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Set minimum column width to 150px */
  grid-gap: 40px; /* Adjust the gap between images */
}
.imageItem {
  width: 100%; /* Ensure images take up 100% of the grid cell width */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Prevent images from exceeding their natural size */
  max-height: 200px; /* Limit the maximum height of images */
  object-fit: cover; /* Ensure images cover the container without stretching */
}
.paginationControls {
  position:relative; 
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px; /* Optional: add padding for spacing */
  color: #909892;
  margin-right: 20px;
  margin-top: 40px;
}

.paginationControls button{
  background-color: #f7f2EB;
  color:#909892; 
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 14px;
  border: 1px solid #909892; 
  margin-right:20px;
  margin-left: 20px;

}
.paginationControls button:hover{

  color:#f7f2EB; 
}
