.pageContainer {
    display: flex;
    justify-content: center;
    /* Horizontally center content */
    align-items: top;
    /* Vertically center content */
    height: 100vh;
    /* Set the height of the container to viewport height */
    margin-top: 10%;
   
}

.contentContainer {
    text-align: left;
    align-items: center;
}

form {
    width: 300px;
    /* Set the width of the form */
}

input {
    margin-bottom: 10px;
    /* Add some spacing between input fields */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-top: 5%;
    border: none;
   

}

.loginButton {
    width: 100%;
    height: 40px;
    background-color:#55505A;
    color: #D89958;
    font-size: 15px;
    border: 2px;
    border-radius: 5px;
    margin-top: 10px;
}

.signUp {
    width: 100%;
    height: 40px;
    margin-top: 10%;
    color: #D89958;
    font-size:15px;
    border: 2px;
    border-radius: 5px;
    text-align: right;
    font-weight: bold;
}
h2{
    color: #AF6058;
    text-align: center;
    width: 100%;
    font-size:30px;
}
p{
    color: #909892;
    font-size: 15px; 
    margin-bottom: 1px;
    margin-top: 10px;
}
select{
    width: 100%;
    color: #909892;
    font-size: 15px; 
    margin-bottom: 10px;
    margin-top: 10px;
}
.error{
    width: 100%;
    color: #AF6058;
    font-size: 15px;
    font-weight: bold;
}
