.pageContainer {
    display: flex;

  }
  .contentContainer {
    margin-left: 200px; /* Adjust this value to match the width of your navbar */
    flex-grow: 1; /* Allow the content to take up remaining space */
    /* padding: 20px; Add some padding to the content */
    margin-top: 60px;
  }
.pageName{
    font-size:20px; 
    color:  #452b1a; 
    text-align: center;
    text-transform: uppercase;
}
.projectsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.proeyectCard{
  border: 1px solid #452b1a; 
  border-radius: 2px;
  margin: 10px;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction:column;
  text-decoration: None;
}
.projectCard:hover{
  border: 2px solid #452b1a;
  border-radius: 4px;
}
.projectInfo {
  color: black;
  text-decoration: None;
}

.projectName {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: None;
  color: #452b1a;
}

.projectDescription {
  font-size: 14px;
  text-align:justify;
  text-decoration: None;
}

a:link, a:visited, a:active {
  text-decoration:none;
}