.pageContainer {
    display: flex;
    justify-content: center;
    /* Horizontally center content */
    align-items: top;
    /* Vertically center content */
  
    /* Set the height of the container to viewport height */
    margin-top: 10%;

}

.contentContainer {
    text-align: left;
    align-items: center;
   
}

td, tr, th{
    padding: 20px;
    color: #909892; 
    
}



